<!DOCTYPE HTML>
<html ng-app="app">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Vexata Mangibility</title>
		<!-- Bootstrap Core CSS -->
	    <link href="css/plugins/bootstrap/bootstrap.min.css" rel="stylesheet">
        <link href="css/plugins/bootstrap/bootstrap-theme.css" rel="stylesheet">
        <link href="css/plugins/kendo/animate.css" rel="stylesheet">


        <link rel="stylesheet" href="css/plugins/kendo/kendo.blueopal.min.css" type="text/css">
		<link rel="stylesheet" href="css/plugins/kendo/kendo.common.min.css" type="text/css">
		<link rel="stylesheet" href="css/vexata/vexata.css" type="text/css">
	
	    <!-- MetisMenu CSS -->
	    <link href="css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">
	
	    <!-- Custom Fonts -->
	    <link href="font-awesome-4.2.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    </head>
    <body>
    	<div id="wrapper" ng-controller="index">
	        <nav style="margin-bottom: 0" role="navigation" class="navbar navbar-fixed-top headerColor dynamicWidth">
	        	<div class="navbar-header">
		            <a ui-sref="dashboard"><img src="images/vexata logo.png" alt="Logo" height="50px" width="100px"></a>
					<i id="sidePanel" class="fa fa-bars fa-fw pull-right"></i>
		        </div>
				<ul class="side-menu nav navbar-top-links navbar-right">
                    <li class="dropdown">
                        <a href="javascript:void(0)" data-toggle="dropdown" class="dropdown-toggle">
                            <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
                        </a>
                        <div class="noti_bubble">{{user.critical.length}}</div>
                        <ul class="dropdown-menu-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
                                <li class="dropdown-header">
                                    <i class="ace-icon fa fa-bell"></i>
                                    {{user.critical.length}} Notifications
                                </li>
                                <li ng-repeat="event in user.critical">
                                    <a href="#">
                                        <div>
                                        	<strong>{{event.entities}}</strong>
                                            <span class="pull-right text-muted">
                                                <small><i>{{event.occuredat}}</i></small>
                                            </span>
                                        </div>
                                        <div><small>{{event.description}}</small></div>
                                    </a>
									<div class="divider"></div>
                                </li>                               
                                <li class="dropdown-footer">
                                    <a href="#">
                                        See all notifications
                                        <i class="ace-icon fa fa-arrow-right"></i>
                                    </a>
                                </li>
                            </ul>
                        <!-- /.dropdown-messages -->
                    </li>
                    <!-- /.dropdown -->
                    <li class="dropdown">
                        <a href="javascript:void(0)" data-toggle="dropdown" class="dropdown-toggle">
                            <i style="font-size: 16px !important;" class="fa  fa-exclamation-triangle fa-fw"></i>  <i class="fa fa-caret-down"></i>
                        </a>
                        <div class="noti_bubble">{{user.warning.length}}</div>
                        <ul class="dropdown-menu-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
                            <li class="dropdown-header">
                                    <i class="ace-icon fa fa-bell"></i>
                                    {{user.warning.length}} Notifications
                                </li>
                                <li ng-repeat="event in user.warning">
                                    <a href="#">
                                        <div>
                                        	<strong>{{event.entities}}</strong>
                                            <span class="pull-right text-muted">
                                                <small><i>{{event.occuredat}}</i></small>
                                            </span>
                                        </div>
                                        <div><small>{{event.description}}</small></div>
                                    </a>
									<div class="divider"></div>
                                </li>  
                        </ul>
                        <!-- /.dropdown-tasks -->
                    </li>
                    <!-- /.dropdown -->
                    <li class="dropdown">
                        <a href="javascript:void(0)" data-toggle="dropdown" class="dropdown-toggle">
                            <i class="fa fa-info-circle fa-fw"></i>  <i class="fa fa-caret-down"></i>
                        </a>
                        <div class="noti_bubble">{{user.notification.length}}</div>
                        <ul class="dropdown-menu-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close" style="height: 200px; overflow: auto">
                            <li class="dropdown-header">
                                    <i class="ace-icon fa fa-bell"></i>
                                    {{user.notification.length}} Notifications
                                </li>
                                <li ng-repeat="event in user.notification">
                                    <a href="#">
                                        <div>
                                        	<strong>{{event.entities}}</strong>
                                            <span class="pull-right text-muted">
                                                <small><i>{{event.occuredat}}</i></small>
                                            </span>
                                        </div>
                                        <div><small>{{event.description}}</small></div>
                                    </a>
									<div class="divider"></div>
                                </li>  
                        </ul>
                        <!-- /.dropdown-alerts <li class="divider"></li>  -->
                    </li>
                    <!-- /.dropdown -->
                    <li class="dropdown">
                        <a href="javascript:void(0)" data-toggle="dropdown" class="dropdown-toggle">
                            <i class="fa fa-cog fa-fw"></i>  <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close dropdown-messages">
                            <li>
                                <a href="swagger-ui/index.html" target="_blank">
                                    <i class="fa fa-book fa-fw"></i>&nbsp; Rest API-Explorer
                                </a>
                            </li>
                        </ul>
                    </li>
                    <!-- /.dropdown -->
                    <li class="light-blue">
                            <a class="dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown">
                                <img alt="Jason's Photo" src="images/user.png" class="nav-user-photo" height="32px" width="32px">
                                <span class="user-info">
                                    {{user.firstname}}
                                </span>
                                <i class="ace-icon fa fa-caret-down"></i>
                            </a>

                            <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                                <li>
                                    <a href="#">
                                        <i class="ace-icon fa fa-cog"></i>
                                        Settings
                                    </a>
                                </li>

                                <li>
                                    <a href="profile.html">
                                        <i class="ace-icon fa fa-user"></i>
                                        Profile
                                    </a>
                                </li>

                                <li class="divider"></li>

                                <li>
                                    <a href="#login" ng-click="user.logout()">
                                        <i class="ace-icon fa fa-power-off"></i>
                                        Logout
                                    </a>
                                </li>
                            </ul>
                        </li>
                    <!-- /.dropdown -->
                </ul>
	        </nav>
			<nav style="margin-bottom: 0; min-height: 35px" role="navigation" class="navbar navbar-default navbar-fixed-bottom dynamicWidth">
	        	<div class="navbar-header">
	        		<h6>&copy; 2015 Vexata Inc</h6>
	        	</div>
				<div class="footer">
					<ul class="side-menu nav navbar-top-links navbar-right">
				        <li class="active">
			            	<div class="dropdown">
								<button class="btn btn-info dropdown-toggle btn-xs" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
									Auto Refresh
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
									<li role="presentation"><a role="menuitem" tabindex="-1" href="#">15 Secs</a></li>
									<li role="presentation"><a role="menuitem" tabindex="-1" href="#">30 Secs</a></li>
									<li role="presentation"><a role="menuitem" tabindex="-1" href="#">60 Secs</a></li>
									<li role="presentation"><a role="menuitem" tabindex="-1" href="#">300 Secs link</a></li>
									<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Manual Refresh</a></li>
									<li role="presentation"><a role="menuitem" tabindex="-1" href="#">AutoRefresh Off</a></li>
								</ul>
							</div>
		            	</li>
	 					 <li class="active">
			                <i class="fa fa-refresh"></i> Last refresh: <span class="hwSum getTime"></span>
			             </li>
			             <li class="active">
			                <i class="fa fa-plug"></i> Connected To: <span class="hwSum">1.10.10.1 (SNode2)</span>
			             </li>
					</ul>
				</div>
				
			</nav>
			<div id="slide-panel">
				<ul id="side-menu" class="nav side-menu">
	                <li class="sidebar-search">
	                    <div class="input-group custom-search-form" style="padding: 15px">
	                        <input type="text" placeholder="Search..." class="form-control">
	                        <span class="input-group-btn">
	                        <button type="button" class="btn btn-default">
	                            <i class="fa fa-search"></i>
	                        </button>
	                    </span>
	                    </div>
	                    <!-- /input-group -->
	                </li>
	                <li>
	                    <a ui-sref="dashboard" class="active"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
	                </li>
                    <li>
                        <a ui-sref="logicalasset" class="active"><i class="fa fa-dashboard fa-fw"></i> Logical Assets</a>
                    </li>
	                <li>
	                    <a href="#"><i class="fa fa-sitemap fa-fw"></i> Entities <span class="fa arrow"></span></a>
	                        <ul class="side-menu nav nav-second-level collapse">
	                            <li>
	                                <a href="#"><i class="fa fa-folder-open fa-fw"></i> Cluster <span class="fa arrow"></span></a>
									<ul class="side-menu nav nav-third-level collapse">
										<li>
	                                        <a href="#"><i class="fa fa-image fa-fw"></i> Node</a>
	                                    </li>
										<li>
	                                        <a href="#"><i class="fa fa-image fa-fw"></i> Pool</a>
	                                    </li>
									</ul>
	                            </li>
								<li>
	                                <a href="#"><i class="fa fa-folder-open fa-fw"></i> Nodes <span class="fa arrow"></span></a>
									<ul class="side-menu nav nav-third-level collapse">
										<li>
	                                        <a href="#"><i class="fa fa-folder-open fa-fw"></i> ESM</a>
	                                    </li>
										<li>
	                                        <a href="#"><i class="fa fa-folder-open fa-fw"></i> IO Controller</a>
	                                    </li>
										<li>
	                                        <a href="#"><i class="fa fa-folder-open fa-fw"></i> Port <span class="fa arrow"></span></a>
											<ul class="side-menu nav nav-fourth-level collapse">
												<li><a href="#"><i class="fa fa-file-pdf-o fa-fw"></i> Fibre Channel</a></li>
												<li><a href="#"><i class="fa fa-file-pdf-o fa-fw"></i> Ethernet</a></li>
											</ul>
	                                    </li>
									</ul>
	                            </li>
	                            <li>
	                                <a ui-sref="volume" ><i class="fa fa-file-image-o fa-fw"></i> Volumes</a>
	                            </li>
                                <li>
                                    <a ui-sref="volumegroup" ><i class="fa fa-file-image-o fa-fw"></i> Volume Groups</a>
                                </li>
								<li>
	                                <a ui-sref="initiatorgroup" ><i class="fa fa-file-image-o fa-fw"></i> Initiator Groups</a>
	                            </li>
								<li>
	                                <a ui-sref="targetgroup"><i class="fa fa-file-image-o fa-fw"></i> Target Groups</a>
	                            </li>
								<li>
	                                <a ui-sref="exportgroup"><i class="fa fa-file-image-o fa-fw"></i> Export Groups</a>
	                            </li>
	                        </ul>
	                            <!-- /.nav-second-level -->
	                        </li>
	            </ul>
			</div>
			<div id="page-wrapper" class="main">
				<div>
					<!-- Adding Templates Dynamically by Angular.js -->
		        	<div ui-view></div>
				</div>				
			</div>
		</div>
		<!-- Javascripts -->
		<!-- jQuery Version 1.9.1 min -->
        <script src="js/jquery/jquery.min.js" type="text/javascript"></script>
        <script src="js/kendo/angular.min.js" type="text/javascript"></script>
        <script src="js/kendo/angular-ui-router.js" type="text/javascript"></script>
        <script src="js/kendo/animate.js" type="text/javascript"></script>




        <!-- Kendo Plugin JavaScript -->
        <script src="js/kendo/kendo.all.min.js" type="text/javascript"></script>
		<script src="js/kendo/kendo.web.min.js" type="text/javascript"></script>
		<script src="js/kendo/kendo.jsZip.js" type="text/javascript"></script>
        <!-- Metis Menu Plugin JavaScript -->
        <script src="js/plugins/metisMenu/metisMenu.min.js" type="text/javascript"></script>

        <!-- Custom JavaScript Functionalities -->
        <script src="js/vexata/namespace.js" type="text/javascript"></script>
        <script src="js/vexata/app.js" type="text/javascript"></script>
        <script src="js/vexata/controllers.js" type="text/javascript"></script>
        <script src="js/vexata/route.js" type="text/javascript"></script> 

        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap/bootstrap.min.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $('#side-menu').metisMenu(); //To activate side panel accordin navigation.
                var panel = $('#slide-panel');
                //Hide side panel
                $("#page-wrapper").on('click', function(){
                    if(panel.hasClass('visible')){
                        panel.css({'margin-top': ($('.dynamicWidth').height()-25)+'px'});
                        panel.removeClass('visible').animate({'margin-left':'-250px'});
                        $('#content').css({'margin-right':'0px'});
                    }
                });
                $( window ).resize(function() { // Browser resize capture.
                    panel.css({'margin-top': ($('.dynamicWidth').height()-25)+'px', 'height': $(window).height()});
                });
                $('#sidePanel').on('click', function() {       //To activate Side panel icon.
                    if (panel.hasClass("visible")) {
                        panel.css({'margin-top': ($('.dynamicWidth').height()-25)+'px'});
                        panel.removeClass('visible').animate({'margin-left':'-250px'});
                        $('#content').css({'margin-right':'0px'});
                    } else {
                        panel.css({'margin-top': ($('.dynamicWidth').height()-25)+'px'});
                        panel.addClass('visible').animate({'margin-left':'0px'});
                        $('#content').css({'margin-right':'-250px'});
                    }   
                    return false;   
                });
            });
        </script>
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </body>
</html>
