<!-- Dashborad Template -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-13">
            <!--<h1 class="page-header">Dashboard<small>Statistics Overview</small></h1>-->
            <ol class="breadcrumb page-header" style="margin-bottom: 10px !important;">
                <li class="active">
                    <i class="fa fa-dashboard"></i> Dashboard
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-3">
                    <div class="row">
                        <div class="boxShadow">
                            <div class="panel panel-default colored-border">
                                <div class="panel-heading colored-heading">
                                    <i class="fa fa-pie-chart"></i> Storage Capacity
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body removePadding">
                                    <div id="chart-capacity" style="height:162px;" class="k-chart"></div>
                                </div>
                                <div class="panel-body removePadding">
                                    <table class="table table-striped margin-0">
                                        <tr>
                                            <td>
                                                Over Provisioning
                                            </td>
                                            <td class="hwSum">
                                                {{storageInfo.savings}}%
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Provisioned Capacity
                                            </td>
                                            <td class="hwSum">
                                                {{storageInfo.provisionedCapacity}}TB
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                Capacity
                                            </td>
                                            <td class="hwSum">
                                                {{storageInfo.capacity}}TB
                                            </td>
                                        </tr>
                                    </table>
                                    <span desc="{{storageInfo.snapshotsPresent}}"></span>
                                    <span desc="{{storageInfo.volumesConfigured}}"></span>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 removePadding">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 removePadding">
                            <div class="boxShadow">
                                <div class="panel panel-default colored-border">
                                    <div class="panel-heading colored-heading">
                                        <i class="fa fa-space-shuttle"></i> Ports
                                    </div>
                                    <!-- /.panel-heading -->
                                    <div class="panel-body removePadding" id="agglomerations">
                                        <table class="table table-striped margin-0">
                                            <tr>
                                                <td ng-repeat="port in ports" ng-if="$index <= 3">
                                                    <div class="port-circle {{ports[$index].status}}"><span desc="{{ports[$index].description}},{{ports[$index].portUtilization}}">{{ports[$index].nodeId}}</span></div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td ng-repeat="port in ports" ng-if="$index > 3 && $index <=7">
                                                    <div class="port-circle {{ports[$index].status}}"><span desc="{{ports[$index].description}},{{ports[$index].portUtilization}}">{{ports[$index].nodeId}}</span></div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td ng-repeat="port in ports" ng-if="$index > 7 && $index <=11">
                                                    <div class="port-circle {{ports[$index].status}}"><span desc="{{ports[$index].description}},{{ports[$index].portUtilization}}">{{ports[$index].nodeId}}</span></div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td ng-repeat="port in ports" ng-if="$index > 11 && $index <=15">
                                                    <div class="port-circle {{ports[$index].status}}"><span desc="{{ports[$index].description}},{{ports[$index].portUtilization}}">{{ports[$index].nodeId}}</span></div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 removePadding">
                            <div class="boxShadow">
                                <div class="panel panel-default colored-border">
                                    <div class="panel-heading colored-heading">
                                        <i class="fa fa-info-circle"></i> Initiator Connection
                                    </div>
                                    <!-- /.panel-heading -->
                                    <div class="panel-body removePadding">
                                        <table class="table table-striped margin-0">
                                            <tr>
                                                <td>
                                                    Provisioned
                                                </td>
                                                <td class="hwSum">
                                                    {{storageInfo.initiatorsConfigured}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Logged-In
                                                </td>
                                                <td class="hwSum">
                                                    {{storageInfo.loggedInInitiators}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Active
                                                </td>
                                                <td class="hwSum">
                                                    {{storageInfo.activeInitiators}}
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="col-lg-2">
                </div>-->
                <div class="col-lg-9">
                    <div class="boxShadow">
                        <div class="panel panel-default colored-border">
                            <div class="panel-heading colored-heading">
                                <i class="fa fa-cog"></i> Node IOPS & Node Bandwidth
                                <div class="pull-right">
                                    <div class="btn-group">
                                        <button data-toggle="dropdown" class="btn btn-info btn-xs dropdown-toggle" type="button">
                                            Last 1 Hour
                                            <span class="caret"></span>
                                        </button>
                                        <ul role="menu" class="dropdown-menu pull-right iopBandwidthInterval">
                                            <li><a href="#">Last 1 Hour</a>
                                            </li>
                                            <li><a href="#">Last 1 Day</a>
                                            </li>
                                            <li><a href="#">Last 2 Weeks</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body removePadding">
                                <div class="col-lg-12 removePadding">
                                    <div id="logarthmiChart" style="height: 250px;"></div>
                                    <div id="lineChart"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div class="panel-body removePadding">
                        <div class="boxShadow">
                            <div class="panel panel-default colored-border">
                                <div class="panel-heading colored-heading">
                                    <i class="fa fa-cog"></i> Event Chronology
                                    <div class="pull-right">
                                        <div class="btn-group">
                                            <button data-toggle="dropdown" class="btn btn-info btn-xs dropdown-toggle" type="button">
                                                Last 1 Hour
                                                <span class="caret"></span>
                                            </button>
                                            <ul role="menu" class="dropdown-menu pull-right iopBandwidthInterval">
                                                <li><a href="#">Last 1 Hour</a>
                                                </li>
                                                <li><a href="#">Last 1 Day</a>
                                                </li>
                                                <li><a href="#">Last 2 Weeks</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-body removePadding">
                                    <div class="col-lg-12 removePadding">
                                        <div id="lineChart" style="height: 250px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <div class="boxShadow">
                        <div class="panel panel-default colored-border">
                            <div class="panel-heading colored-heading">
                                <i class="fa fa-bell fa-fw"></i> Critical Events
                            </div>
                            <div class="panel-body removePadding">
                                <div class="list-group margin-0">

                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Severity</th>
                                            <th>Category</th>
                                            <th>Entities</th>
                                            <th>Marker</th>
                                            <th>Description</th>
                                            <th>Acknowledged</th>
                                            <th>Cleared</th>
                                            <th>Occured At</th>
                                            <th>Acknowledged At</th>
                                            <th>Cleared At</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr  ng-repeat="event in events">
                                            <td>{{event.id}}</td>
                                            <td>{{event.severity}}</td>
                                            <td>{{event.category}}</td>
                                            <td>{{event.entities}}</td>
                                            <td align="center">{{event.marker}}</td>
                                            <td>{{event.description}}</td>
                                            <td>{{ event.acknowledged}}</td>
                                            <td>{{event.cleared}}</td>
                                            <td>{{event.occuredat}}</td>
                                            <td>{{event.ackowledgedat}}</td>
                                            <td>{{event.clearedat}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
				                        <span class="pull-right text-muted small"><em>{{event["occured at"]}}</em>
				                        </span>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 removePadding">
            <div  class="boxShadow">
                <div class="panel panel-default colored-border">
                    <div class="panel-heading colored-heading">
                        <i class="fa fa-pie-chart"></i> Hardware Summary
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body removePadding">
                        <table class="table table-striped  margin-0">
                            <tr class="active">
                                <td>
                                    Uptime
                                </td>
                                <td class="hwSum">
                                    128 days 12:46 hours
                                </td>
                            </tr>
                            <tr class="info">
                                <td>
                                    License
                                </td>
                                <td class="hwSum">
                                    Full Capacity
                                </td>
                            </tr>
                            <tr class="success">
                                <td>
                                    Overall Health
                                </td>
                                <td class="hwSum">
                                    Good<span><img src="images/thumb.png" height= "15px" width="15px" style="margin-top: -8px; margin-left: 5px"/></span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="boxShadow">
                <div class="panel panel-default colored-border margin-0">
                    <div class="panel-heading colored-heading">
                        <i class="fa fa-cog"></i> Array Health
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body removePadding">
                        <div class="row removePadding">
                            <div class="systemHeading">
                                IO Controllers
                            </div>
                        </div>
                        <div id="ioControllers" >
                            <div class="row removePadding border-bottom">
                                <div class="col-xs-6 col-md-6 systemStatus-controller">
                                    Controller-I
                                </div>
                                <div class="col-xs-6 col-md-6 systemStatus-controller" >
                                    <div ng-if="ioControllers[0].status == 'ACTIVE'" class="circle m-left"><span desc="{{ioControllers[0]}}">Active</span></div>
                                    <div ng-if="ioControllers[0].status == 'NON_DISRUPTIVE'" class="circle v-down m-left"><span desc="{{ioControllers[0]}}">Software Update</span></div>
                                </div>
                            </div>
                            <div class="row removePadding border-bottom">
                                <div class="col-xs-6 col-md-6 systemStatus-controller">
                                    Controller-II
                                </div>
                                <div class="col-xs-6 col-md-6 systemStatus-controller">
                                    <div ng-if="ioControllers[1].status == 'ACTIVE'" class="circle m-left"><span desc="{{ioControllers[1]}}">Active</span></div>
                                    <div ng-if="ioControllers[1].status == 'NON_DISRUPTIVE_UPDATE'" class="circle v-down m-left"><span desc="{{ioControllers[1]}}">Software Update</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="row removePadding">
                            <div class="systemHeading">
                                ESM Status
                            </div>
                        </div>
                        <div id="esm-transition">
                            <div class="row removePadding border-bottom">
                                <div class="col-lg-12 esmDiv removePadding">
                                    <div class="col-xs-3 removePadding">
                                        <span class="esmBox {{esms[0].status}}" desc="{{esms[0]}}">{{esms[0].slot}}</span>
                                        <span class="esmBox {{esms[1].status}}" desc="{{esms[1]}}">{{esms[1].slot}}</span>
                                    </div>
                                    <div class="col-xs-3 removePadding">
                                        <span class="esmBox {{esms[2].status}}" desc="{{esms[2]}}">{{esms[2].slot}}</span>
                                        <span class="esmBox {{esms[3].status}}" desc="{{esms[3]}}">{{esms[3].slot}}</span>
                                    </div>
                                    <div class="col-xs-3 removePadding">
                                        <span class="esmBox {{esms[4].status}}" desc="{{esms[4]}}">{{esms[4].slot}}</span>
                                        <span class="esmBox {{esms[5].status}}" desc="{{esms[5]}}">{{esms[5].slot}}</span>
                                    </div>
                                    <div class="col-xs-3 removePadding">
                                        <span class="esmBox {{esms[6].status}}" desc="{{esms[6]}}">{{esms[6].slot}}</span>
                                        <span class="esmBox {{esms[7].status}}" desc="{{esms[7]}}">{{esms[7].slot}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row removePadding border-bottom">
                                <div class="col-lg-12 esmDiv removePadding">
                                    <div class="col-xs-3 removePadding">
                                        <span class="esmBox {{esms[8].status}}" desc="{{esms[8]}}">{{esms[8].slot}}</span>
                                        <span class="esmBox {{esms[9].status}}" desc="{{esms[9]}}">{{esms[9].slot}}</span>
                                    </div>
                                    <div class="col-xs-3 removePadding">
                                        <span class="esmBox {{esms[10].status}}" desc="{{esms[10]}}">{{esms[10].slot}}</span>
                                        <span class="esmBox {{esms[11].status}}" desc="{{esms[11]}}">{{esms[11].slot}}</span>
                                    </div>
                                    <div class="col-xs-3 removePadding">
                                        <span class="esmBox {{esms[12].status}}" desc="{{esms[12]}}">{{esms[12].slot}}</span>
                                        <span class="esmBox {{esms[13].status}}" desc="{{esms[13]}}">{{esms[13].slot}}</span>
                                    </div>
                                    <div class="col-xs-3 removePadding">
                                        <span class="esmBox {{esms[14].status}}" desc="{{esms[14]}}">{{esms[14].slot}}</span>
                                        <span class="esmBox {{esms[15].status}}" desc="{{esms[15]}}">{{esms[15].slot}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row removePadding">
                            <div class="systemHeading">
                                H/W Power Supplies
                            </div>
                        </div>
                        <div class="row removePadding border-bottom" id="powerSupplies">
                            <div class="col-lg-12">
                                <div ng-repeat="powerSupply in powerSupplies" class="col-xs-2 removePadding">
                                    <span class="power-supplies {{powerSupply.status}}" desc="{{powerSupply}}">{{powerSupply.psNumber}}</span>
                                </div>
                            </div>
                        </div>

                        <div class="row removePadding">
                            <div class="systemHeading">
                                Battery Backup
                            </div>
                        </div>
                        <div class="row removePadding">
                            <div id="baterry-backup">
                                <div class="col-xs-6 removePadding">
                                    <span class="battery {{batteryBackups[0].charge}}">{{batteryBackups[0].charge}}</span>
                                    <input type=hidden value="{{batteryBackups[0]}}"/>
                                </div>
                                <div class="col-xs-6 removePadding">
		            				<span ng-if="batteryBackups[1].charge == 'CHARGING'" class="battery {{batteryBackups[1].charge}}">
		            					CHARGING
									</span>
                                    <input type=hidden value="{{batteryBackups[1]}}"/>
                                </div>
                            </div>

                        </div>
                        <div class="row removePadding border-top">
                            <div class="systemHeading">
                                Fan Status
                            </div>
                        </div>
                        <div id="fanCircle">
                            <div class="row removePadding border-bottom">
                                <div class="col-xs-6 col-md-6 removePadding systemStatus-controller border-right text-center">
                                    Tray I
                                </div>
                                <div class="col-xs-6 col-md-6 removePadding systemStatus-controller text-center">
                                    Tray II
                                </div>
                                <!--<div class="circle fanCircle"><span>20</span></div>-->
                            </div>
                            <div class="row removePadding border-bottom">
                                <div class="col-xs-6 col-md-6 systemStatus-controller text-center border-right">
                                    <div class="circle fanCircle"><span desc="{{trayOneOkFans}}">{{trayOneOkFans.length}}</span></div>
                                    <div ng-if="trayOneErrorFans.length > 0" class="circle fanCircle v-down"><span desc="{{trayOneErrorFans}}">{{trayOneErrorFans.length}}</span></div>
                                </div>
                                <div class="col-xs-6 col-md-6 systemStatus-controller text-center ">
                                    <div class="circle fanCircle"><span desc="{{trayTwoOkFans}}">{{trayTwoOkFans.length}}</span></div>
                                    <div ng-if="trayTwoErrorFans.length > 0" class="circle fanCircle v-down"><span desc="{{trayTwoErrorFans}}">{{trayTwoErrorFans.length}}</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="row removePadding">
                            <div class="systemHeading">
                                Temperature Status
                            </div>
                        </div>
                        <div id="tempGraph">
                            <div class="row removePadding">
                                <div class="col-xs-6 col-md-6 removePadding"><span><div class="tempBox green">-5&deg;C to 10&deg;C <br/> [20 Sensors]</div></span></div>
                                <div class="col-xs-6 col-md-6 removePadding"><span><div class="tempBox">10&deg;C to 20&deg;C <br/> [80 Sensors]</div></span></div>
                            </div>
                            <div class="row removePadding">
                                <div class="col-xs-12 col-md-12 removePadding"><span><div class="tempBox red">30&deg;C to 50&deg;C<br/> [28 Sensors]</div></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script id="template" type="text/x-kendo-template">
    <div class="col-lg-12 removePadding" style="text-align: left">
        <div class="row removePadding">
            <div class="panel panel-default colored-border margin-0">
                <div class="panel-heading colored-heading">
                    <i class="fa fa-info-circle"></i> Port #=target.text()#
                </div>
                <div class="panel-body removePadding" style="color: black">
                	<table class="table table-striped table-bordered margin-0">
                		<tbody>
                			<tr>
                				<td>Description</td>
                				<td>#= target.attr('desc').split(',')[0] #</td>
                			</tr>
							<tr>
								<td>Utilization</td>
								<td>#= target.attr('desc').split(',')[1] #%</td>
							</tr>
                			
                		</tbody>
                	</table>
                </div>
            </div>
        </div>
    </div>
</script>

<script id="fanStatusTemplate" type="text/x-kendo-template">
    <div class="col-lg-12 removePadding" style="text-align: left">
        <div class="row removePadding">
            <div class="panel panel-default colored-border margin-0">
                <div class="panel-heading colored-heading">
                    <i class="fa fa-info-circle"></i> Fan Status
                </div>
                <div class="panel-body removePadding" style="color: black;">
                    <div class="row removePadding">
                        <div class="col-xs-6 col-md-11 systemStatus-controller" style="overflow: auto;height: 255px;">
                            <table class="table table-bordered">
                                <thead>
                                # var data = JSON.parse(target.attr('desc')) #
                                <tr class="active">
                                    <th>Fan Number</th>
                                    <th>Fan Status</th>
                                    <th>Speed</th>
                                </tr>
                                </thead>
                                <tbody>
                                # for (var i = 0; i < data.length; i++) { #
                                <tr>
                                    <td>#= i+1 #</td>
                                    <td>#= data[i].fanStatus #</td>
                                    <td>#= data[i].speed # %</td>
                                </tr>
                                # } #
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script id="esmTemplate" type="text/x-kendo-template">
    <div class="col-lg-12 removePadding" style="text-align: left">
        <div class="row removePadding">
            <div class="panel panel-default colored-border margin-0">
                <div class="panel-heading colored-heading">
                    <i class="fa fa-info-circle"></i> ESM #= target.text() #
                </div>
                <div class="panel-body removePadding" style="color: black">
                    # var data = JSON.parse(target.attr('desc')) #
                    <div class="col-lg-12 removePadding">
                        <table class="table table-striped table-bordered margin-0">
                            <tbody>
                            <tr>
                                <td>Slot</td>
                                <td>#= data.slot #</td>
                            </tr>
							<!-- Commenting out RAW stats for now -->
							<!--
                            <tr>
                                <td>Raw</td>
                                <td>#= data.raw #</td>
                            </tr>
							-->
                            <tr>
                                <td>Usable</td>
                                <td>#= data.usable #</td>
                            </tr>
                            <tr>
                                <td>Status</td>
                                <td>
                                    # if(data.status == "OK") { #
                                    Active <i class="fa fa-thumbs-o-up"></i>
                                    #} else if(data.status == "MISSING"){ #
                                    Missing <i class="fa fa-question-circle"></i>
                                    #} else if(data.status == "FAILED"){ #
                                    Failed <i class="fa fa-thumbs-o-down"></i>
                                    #} else { #
                                    Rebuilding <i class="fa fa-wrench"></i>
                                    # } #
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script id="powerSuppliesTemplate" type="text/x-kendo-template">
    <div class="col-lg-12 removePadding" style="text-align: left">
        <div class="row removePadding">
            <div class="panel panel-default colored-border margin-0">
                <div class="panel-heading colored-heading">
                    <i class="fa fa-info-circle"></i> Power Supply
                </div>
                <div class="panel-body removePadding" style="color: black">
                    # var data = JSON.parse(target.attr('desc')) #
                    <table class="table table-striped table-bordered margin-0">
                        <tbody>
                        <!--            				<tr>
                                                        <td>Capacity</td>
                                                        <td>#= data.capacity #</td>
                                                    </tr>-->
                        <tr>
                            <td>Input Current</td>
                            <td>#= data.inputCurrent #</td>
                        </tr>
                        <tr>
                            <td>Output Current</td>
                            <td>#= data.outputCurrent #</td>
                        </tr>
                        <!--							<tr>
                                                        <td>Input Power</td>
                                                        <td>#= data.inputPower #</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Output Power</td>
                                                        <td>#= data.outputPower #</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Input Voltage</td>
                                                        <td>#= data.inputVoltage #</td>
                                                    </tr>-->
                        <tr>
                            <td>Output Voltage</td>
                            <td>#= data.outputVoltage #</td>
                        </tr>
                        <tr>
                            <td>Status</td>
                            <td>
                                # if(data.status == "OK") { #
                                Active <i class="fa fa-thumbs-o-up"></i>
                                #} else { #
                                Warning <i class="fa  fa-exclamation-triangle"></i>
                                # } #
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</script>

<script id="temperatureTemplate" type="text/x-kendo-template">
    <div class="col-lg-12 removePadding" style="text-align: left">
        <div class="row removePadding">
            <div class="panel panel-default colored-border margin-0">
                <div class="panel-heading colored-heading">
                    <i class="fa fa-info-circle"></i> Temperature
                </div>
                <div class="panel-body">
                    <div id="tempChart" style= "height:250px;width:auto;"></div>
                </div>
            </div>
        </div>
    </div>
</script>

<script id="baterryTemplate" type="text/x-kendo-template">
    <div class="col-lg-12 removePadding" style="text-align: left">
        <div class="row removePadding">
            <div class="panel panel-default colored-border margin-0">
                <div class="panel-heading colored-heading">
                    <i class="fa fa-info-circle"></i> Battery #= JSON.parse(target.siblings('input').val()).bbNumber #
                </div>
                <div class="panel-body removePadding" style="color: black;">
                    <table class="table table-bordered text-left margin-0">
                        <thead>
                        <tr class="active">
                            <th>bbNumber</th>
                            <th>Charge</th>
                            <th>Life</th>
                            <th>backupTimeLeft</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>#= JSON.parse(target.siblings('input').val()).bbNumber #</td>
                            <td>#= JSON.parse(target.siblings('input').val()).charge #</td>
                            <td>#= JSON.parse(target.siblings('input').val()).life #</td>
                            <td>#= JSON.parse(target.siblings('input').val()).backupTimeLeft #</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</script>

<script id="iocTemplate" type="text/x-kendo-template">
    <div class="col-lg-12 removePadding" style="text-align: left">
        <div class="row removePadding">
            <div class="panel panel-default colored-border margin-0">
                <div class="panel-heading colored-heading">
                    <i class="fa fa-info-circle"></i> IO Controllers
                </div>
                <div class="panel-body removePadding" style="color: black">
                    # var data = JSON.parse(target.attr('desc')) #
                    <table class="table table-striped table-bordered margin-0">
                        <tbody>
                        <tr>
                            <td>Name</td>
                            <td>#= data.name #</td>
                        </tr>
                        <tr>
                            <td>Version</td>
                            <td>#= data.swVersion #</td>
                        </tr>
                        <tr>
                            <td>CPU Count</td>
                            <td>#= data.cpuCount #</td>
                        </tr>
                        <tr>
                            <td>Core Count</td>
                            <td>#= data.coreCount #</td>
                        </tr>
                        <tr>
                            <td>Memory Size</td>
                            <td>#= data.memorySize #</td>
                        </tr>
                        <tr>
                            <td>Status</td>
                            <td>
                                # if(data.status == "ACTIVE") { #
                                Active <i class="fa fa-thumbs-o-up"></i>
                                #} else { #
                                NON_DISRUPTIVE_UPDATE <i class="fa  fa-thumbs-o-down"></i>
                                # } #
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</script>

<script id="chartCapacity" type="text/x-kendo-template">
    <div>
        # if (data.category == "Free") { #
        <span>#= data.category #</span> - <span>#= data.value #%</span>
        # } else { #
        <span>#= data.category #</span> - <span>#= data.value #%</span>
        <br><span>Snapshots Present</span> - <span>#=data.series.nodeValue.snapshotsPresent#</span>
        <br><span>Volumes Configured</span> - <span>#=data.series.nodeValue.volumesConfigured#</span>
        # } #
    </div>
</script>
