<!-- Initiator Template -->
<div class="container-fluid">
	<div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Initiator</h1>
				<ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>  <a ui-sref="dashboard">Dashboard</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-tasks"></i> Initiator
                    </li>
                </ol>
            </div>
            <!-- /.col-lg-12 -->
     </div>
	<div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                
				<!-- <div id="grid" class="panel-body">
					
				</div> -->
				
				<div id="initGrid" ng-app="app">
				    <div>
				        <kendo-grid options="initiatorGridOptions">
				            
				        </kendo-grid>
				    </div>
				</div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>