<link rel="stylesheet" href="css/vexata/login.css" type="text/css">
<div class="container">
	<div class="col-lg-12">
		<div class="row">
			<div class="col-md-5 col-md-offset-4 col-sm-8 col-sm-offset-2">
				<img id="logobox" src="images/vexata logo.jpg" alt="Logo" height="136px" width="242px">
			</div>
		</div>
		<div class="row" ng-controller="loginCtrl">
			<div  id="loginbox" class="mainbox col-md-5 col-md-offset-4 col-sm-8 col-sm-offset-2">
				<div class="panel panel-primary border-666 boxShadow ">
	                <div class="panel-heading background-666 border-666">
	                    <div class="panel-title font20 font-bold">Sign In</div>
	                </div>
					<div class="panel-body">
						<div class="col-lg-12" id="myform">
							<div class="row">
								<div class="error-panel">
									<div class="alert alert-success alert-dismissible" role="alert" style="display: none; padding: 8px">
									  <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
									  {{validationSuccessMessage}}.
									</div>
									<div class="alert alert-danger alert-dismissible" role="alert" style="display: none; padding: 8px">
									  <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
									  {{validationErrorMessage}}.
									</div>
								</div>
							</div>
							<div class="row">
								<div class="input-group panel-body">
	                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
									<input type="text" id="login-username" name="username" class="input-field form-control font16" placeholder="username or email" required validationMessage="Enter your {0}"  />
	                            </div>
							</div>
							<div class="row">
								<div class="input-group panel-body">
	                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
									<input id="login-password" type="password" name="password" class="input-field form-control" placeholder="password" required validationMessage="Enter your {0}" />
	                            </div>
							</div>
							<div class="row">
								<div class="panel-body">
	                                <span class="pull-left">
		                            	<button  id="btn-login" class="butn login-btn font16" type="submit">Login</button>
	                                </span>
									<span class="pull-right font14">
	                                    <a href="#">Forgot Password?</a>
	                                </span>
	                            </div>
							</div>
							<div class="row" style="margin-top: -10px !important">
									<div class="pull-left panel-body">
	                              		<input id="login-remember" type="checkbox" name="remember" value="1"> 
										<span class="font14 font-bold remme">Remember me</span>
									</div>
							</div>
						</div>
					</div>
				</div>     
			</div>
		</div>
	</div>	        
</div>
