<!-- Volumegroup Template -->
<div class="container-fluid">
	<div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Volumes</h1>
				<ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>  <a ui-sref="dashboard">Dashboard</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-database"></i> Volumes
                    </li>
                </ol>
            </div>
            <!-- /.col-lg-12 -->
     </div>
	<div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
				<div id="volumeGrid" ng-app="app">
				    <div>
				        <kendo-grid options="mainGridOptions">
				            
				        </kendo-grid>
				    </div>
				</div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>