body{
	font-family: "Calibri" !important;
	background-color: #FFF !important;
}

.navbar{
  display: none !important;
}

#loginbox{
	margin-top: 1%;
}

#logobox{
	margin-left: 18%;
	margin-top: 10%;
}
.login-btn{
    background-color: #663399;
    border-radius: 0;
    color: #fff;
    height: 33px;
    width: 88px;
}

.input-field{
	height: 45px;
	width: 100%;
}

.background-666{
	background-color: #666666 !important;
	opacity: 0.75;
}
.border-666{
	border-color: #666666 !important;
}

.boxShadow{
	box-shadow: 5px 5px 5px #CCC;
}

.font20{
	font-size: 20px !important;
}

.font16{
	font-size: 16px !important;
}

.font14{
	font-size: 14px !important;
}

.font-bold{
	font-weight: bolder;
}

.butn{
	border: 1px solid transparent;
	cursor: pointer;
}
.remme{
 	margin: 0 !important;
    padding-left: 3px;
    position: absolute;
}
.error-panel{
	height: 30px;
    padding: 0 15px 15px;
}
