body{
	font-family: "Calibri" !important;
	font-weight: normal;
	font-size: 13px !important;
	background: #FFF; 
}

.navbar{
  display: none;
}
.container-fluid{
	margin-bottom: 3%
}

.btn-info{
	background-color: rgb(66, 139, 202);
	border-color: rgb(66, 139, 202);
}

.btn.btn-info:hover,
.btn.btn-info:focus,
.btn.btn-info:active{
	background-color: rgb(66, 139, 202);
	border-color: rgb(66, 139, 202);	
}

.k-tooltip{
	background-color: #ddd !important;
}

.breadcrumb {
    background: #E6E6E6;
    border-radius: 4px;
    border-width: 0;
}

#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    background-color: transparent;
}

@media(min-width:768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 0;
        padding: 0 30px;
        border-left: 1px solid #FFF;
        background-color: transparent;
    }
}

.navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px 17px 7px 3px;    
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

.headerColor{
	background-image: linear-gradient(to right, #1a2229 0px, #1a2229 100%) !important;
	font-family:"Source Sans Pro",sans-serif;
}

.heading{
	color: #fff !important;
    font-family: "Segoe UI Light_","Open Sans Light",Verdana,Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 15px;
    position: relative;
}


.k-widget{
	border-style: none !important;
}

  
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
	background-color: transparent;
}

.navbar-nav > li > a {
	color: #FFFFFF !important;
}


.sidebar ul li a.active{
	background-color: #000 !important;
}

.side-menu > li > a:hover , .side-menu > li > a:focus {
	background-color: #000 !important;
	height: auto;
	width: auto;
}

.sidebar ul li{
	border-bottom: none !important;
}

#side-menu > li a, .dropdown-toggle > .fa{
	color: #FFF !important;
}

a:focus{
	outline: none !important;
	outline-offset: 0px !important;
}

.dropdown-toggle > .fa{
	font-size: 16px !important;
}

.dropdown-navbar {
    padding: 0;
    width: 240px;
}
.dropdown-navbar > li.dropdown-footer > a {
    color: rgb(79, 153, 198) !important;
    font-size: 13px;
    text-align: center;
    padding: 10px;
    background: #F7F7F7;
}
.dropdown-navbar > li.dropdown-header {
    border-bottom: 1px solid;
    font-size: 13px;
    font-weight: 700;
    line-height: 34px;
    padding-bottom: 0;
    padding-top: 0;
    text-shadow: none;
    text-transform: none;
}

.dropdown-header{
	background-color: rgb(231, 242, 248);
    border-bottom-color: #ADADFF;
    color: #5C5CFF;
}

.container-fluid{
	margin-top: 25px !important;
}

h1.page-header > small{
	font-size: 50% !important;
	padding-left: 5px;
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: auto;
	height: auto;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

.navbar-right ul.dropdown-menu{
	right: 1px !important;
}

.noti_bubble {
    position:absolute;    /* This breaks the div from the normal HTML document. */
    top: 5px;
    right:23px;
    padding:1px 5px;
    background-color: rgb(209, 91, 71); /* you could use a background image if you'd like as well */
    color:white;
    font-weight:bold;
    font-size:0.80em;

    /* The following is CSS3, but isn't crucial for this technique to work. */
    /* Keep in mind that if a browser doesn't support CSS3, it's fine! They just won't have rounded borders and won't have a box shadow effect. */
    /* You can always use a background image to produce the same effect if you want to, and you can use both together so browsers without CSS3 still have the rounded/shadow look. */
    border-radius:30px;
    
}

.vexata-tiny-font{
	font-size: 11px;
}

.removePadding{
	padding: 0px !important;
	margin: 0px !important
}

.boxShadow{
	border-radius: 4px;
	box-shadow: 2px 4px 4px 2px #CCC;
}

.menu-card{
	padding: 10px;
}

.colored-heading {
    background-color: #4D4D4D !important;
    border-color: #4D4D4D !important;
    color: #FFF !important;
}

.margin-0{
	margin: 0 !important;
}

.port-circle{
	width: 20px; 
	height: 20px; 
	background: #AADAB0; 
	-moz-border-radius: 50px; 
	-webkit-border-radius: 50px; 
	border-radius: 50px;
	color:#000;
	line-height:20px;
    text-align:center;
    margin-left: 25%;
    font-size: 11px;
    font-weight: normal;
}

.port-circle.WARNING{
	background: #DCC061;
}

.port-circle.CRITICAL{
	background: #F09898;
}
.port-circle.DISABLE{
	background: #D0CCCC;
}

.port-circle.LINK_DOWN{
     background: #F09898;
 }

.port-circle.LINK_UP{
    background: #AADAB0;
}



.colored-border{
	border-color: #FFF !important;
	box-shadow: 0 0px 0px rgba(0, 0, 0, 0.05) !important;
}



#slide-panel {
    width:250px;
    height:800px;
    background:#eee;
    margin-left:-250px;
    float: left;
    max-width: 250px;
	background-color: #1a2229;
	position: fixed;
	z-index: 100;
	overflow: auto;
}
#opener {
    float:right;
    margin:15px 0px 0px 0px;
    border-radius:0;
}
#content
{
    height: 500px;
    width: 100%;
    float: left;
	padding-left: 5%;
}

.hwSum{
	font-weight: normal;
	font-family: "Arial";
	font-size: 11px;
}

.panel-heading{
	padding: 6px !important;
}

.demo-section {
    width: 100%;
}

#agglomerations {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

#agglomerations span {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;                    
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    border: 0;                   
    -moz-transition:  -moz-box-shadow .3s;
    -webkit-transition:  -webkit-box-shadow .3s;
    transition:  box-shadow .3s;
}

#agglomerations span:hover {
	cursor: pointer;
    -moz-box-shadow: 0 0 0 15px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 0 15px rgba(0,0,0,0.5);
    box-shadow: 0 0 0 15px rgba(0,0,0,0.5);
    -moz-transition:  -moz-box-shadow .3s;
    -webkit-transition:  -webkit-box-shadow .3s;
    transition:  box-shadow .3s;
}

.circle{
	width: 90px;
	height: 20px; 
	-webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.2);
	/*background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
	background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
	background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));*/ 
	background-color: #aadab0;
    /*border-color: #147b0e #11640b #11640b;*/
	-moz-border-radius: 50px; 
	-webkit-border-radius: 50px; 
	border-radius: 50px;
	line-height:20px;
    text-align:center;
    font-size: 11px;
    font-weight: normal;
	cursor: pointer;
}

.m-left{
   margin-left: -45px;
}

.fanCircle{
	height: 20px;
	width: 20px;
	cursor: pointer;
	display: inline-block;
}

.border-right{
	border-right: 1px solid #CCC;
}

#fanCircle span:hover{
    -moz-box-shadow: 0 0 0 15px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 0 15px rgba(0,0,0,0.5);
    box-shadow: 0 0 0 10px rgba(0,0,0,0.5);
    -moz-transition:  -moz-box-shadow .3s;
    -webkit-transition:  -webkit-box-shadow .3s;
    transition:  box-shadow .3s;
	border-radius: 30px;
}

#esm-transition span:hover{
	-moz-box-shadow: 0 0 0 15px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 0 15px rgba(0,0,0,0.5);
    box-shadow: 0 0 0 2px rgba(0,0,0,0.5);
    -moz-transition:  -moz-box-shadow .3s;
    -webkit-transition:  -webkit-box-shadow .3s;
    transition:  box-shadow .3s;
}

#esm-transition div.col-xs-3{
	text-align: center;
}

#powerSupplies span:hover{
	-moz-box-shadow: 0 0 0 15px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 0 15px rgba(0,0,0,0.5);
    box-shadow: 0 0 0 2px rgba(0,0,0,0.5);
    -moz-transition:  -moz-box-shadow .3s;
    -webkit-transition:  -webkit-box-shadow .3s;
    transition:  box-shadow .3s;
}

div#powerSupplies div.col-xs-2{
	text-align: center;
}


@keyframes blink {  
    0% { background: #a52a2a; }
    100% { background: #FFF; }
}
@-webkit-keyframes blink {
    0% { background: #a52a2a; }
    100% { background: #FFF; }
}
.blink {
    -webkit-animation: blink 0.5s linear infinite;
    -moz-animation: blink 0.5s linear infinite;
    -ms-animation: blink 0.5s linear infinite;
    -o-animation: blink 0.5s linear infinite;
    animation: blink 0.5s linear infinite;
} 

.esmBox{
	-webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.2);
/*	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
	background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
	background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04)); 
	border-color: #147b0e #11640b #11640b;*/
	background-color: #aadab0;
	height: 40px;
	width: 10px;
	text-align:center;
	margin: 4px;
	display: inline-block;
	cursor: pointer;
	font-size: 10px;
	margin: 7px;
}

.esmBox.FAILED{
	background-color: #f09898;		
}
.esmBox.MISSING{
	background-color: #CCC;		
}
.esmBox.REBUILDING{
	background-color: #adadff;		
}

.battery.CHARGING {
    -webkit-animation: charging 2s infinite linear;  
    animation: charging 2s infinite linear;
}

/* Animating battery*/
@-webkit-keyframes charging {
    0% { width: 0px }
	10% { width: 5px }
	20% { width: 10px }
	30% { width: 15px }
	40% { width: 20px }
	50% { width: 25px }
	60% { width: 30px }
	70% { width: 35px }
	80% { width: 40px }
	90% { width: 45px }
	100% { width: 50px }
}
@keyframes charging {
    0% { width: 0px }
	10% { width: 5px }
	20% { width: 10px }
	30% { width: 15px }
	40% { width: 20px }
	50% { width: 25px }
	60% { width: 30px }
	70% { width: 35px }
	80% { width: 40px }
	90% { width: 45px }
	100% { width: 50px }
}

.fanBox{
	height: 25px;
	width: 25px;
	-moz-border-radius: 50px; 
	-webkit-border-radius: 50px; 
	border-radius: 50px;
	padding: 2px;
	margin-left: 3px;
}

.systemHeading{
	height: 25px;
	width: auto;
	border-bottom: 1px solid #CCC;
	background-color: #f9f9f9;
	text-align: center;
	line-height: 23px;
	font-weight: normal;
	font-weight: bold;
}

.systemStatus-controller{
	padding: 5px !important;
	font-weight: normal;
}

.border-bottom{
	border-bottom: 1px solid #CCC;
}

.border-top{
	border-top: 1px solid #CCC;
}
.tempBox{
	background-color: #ffcc33;
    padding: 9px;
	font-size: 11px;
	text-align: center;
	cursor: pointer;
}
.tempBox.green{
	background-color: #aadab0;
}
.tempBox.red{
	background-color: #f09898;
}

.footer li{
	padding: 5px;
}

#volumeGrid .k-grid-header .k-header /* For datagrid*/
{
   background-color: #E6E6F0;
}
#initGrid .k-grid-header .k-header /* For datagrid*/
{
   background-color: #E6E6F0;
}
#targetGrid .k-grid-header .k-header /* For datagrid*/
{
   background-color: #E6E6F0;
}

#sidePanel {
	color: #FFF !important;
	font-size: 21px;
	cursor:pointer;
	position: relative;
	top: 18px;
}

.power-supplies{
	height: 25px;
	border-radius: 6px;
	-webkit-border-radius: 6px;
    margin: 3px;
    padding: 3px 0;
    width: 25px;
	display: inline-block;
 	background-color: #aadab0;
    /*background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
    border-color: #147b0e #11640b #11640b;*/
    box-shadow: 0 1px rgba(255, 255, 255, 0.4) inset, 0 1px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
	/*background: url("../../images/line.gif") no-repeat scroll -5px 14px #aadab0;);*/
}
.power-supplies.WARNING{
	background-color: #FFCC33;
}
.v-warning{
	background-color: #FE9A2E;
}

.v-down{
	background-color: #f09898;
}


.battery {
	background: none repeat scroll 0 0 #000;
    display: block;
    float: left;
    height: 15px;
    margin: 12px 33px;
    position: relative;
    width: 50px;
	cursor: pointer;
	font-size: 11px;
	text-align: center;
	font-weight: bold;
	background: rgb(157,213,58); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(157,213,58,1) 0%, rgba(161,213,79,1) 50%, rgba(128,194,23,1) 51%, rgba(124,188,10,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(157,213,58,1)), color-stop(50%,rgba(161,213,79,1)), color-stop(51%,rgba(128,194,23,1)), color-stop(100%,rgba(124,188,10,1)));
	background: -webkit-linear-gradient(top, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%);
	background: -o-linear-gradient(top, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%);
	background: -ms-linear-gradient(top, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%);
	background: linear-gradient(to bottom, rgba(157,213,58,1) 0%, rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 );
}

.battery:before {
    background: none repeat scroll 0 0 transparent;
    border: 2px solid #000;
    border-radius: 3px;
    box-shadow: 0 0 4px 1px #888;
    content: "";
    display: block;
    height: 25px;
    margin: -5px;
    position: absolute;
    width: 60px;
    z-index: 1000;
}

.battery:after {
    background: none repeat scroll 0 0 #000;
    border: 2px solid #000;
    border-radius: 4px;
    box-shadow: 2px 0 7px 2px #888;
    content: "";
    display: block;
    height: 10px;
    margin: -14px 54px;
    position: absolute;
    width: 4px;
    z-index: 0;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    from {top: 0px;}
    to {top: 200px;}
}

/* Standard syntax */
@keyframes mymove {
    from {top: 0px;}
    to {top: 200px;}
}
.nav-user-photo{
	border: 2px solid rgb(255, 255, 255);
    border-radius: 100%;
    margin: -4px 8px 0 0;
    max-width: 40px;
}


.user-info {
    display: inline-block;
    line-height: 10px;
    max-width: 100px;
    overflow: hidden;
    position: relative;
    text-align: left;
    text-overflow: ellipsis;
    top: 6px;
    vertical-align: top;
    white-space: nowrap;
    color: #FFF;
    text-transform: capitalize;
}

.dropdown-menu.dropdown-menu-right.dropdown-caret:before, .dropdown-menu.dropdown-caret-right.dropdown-caret:before {
    left: auto;
    right: 9px;
}
.dropdown-menu:before, li > .dropdown-menu:after {
    display: none;
}
.dropdown-menu.dropdown-caret:before {
    -moz-border-bottom-colors: rgba(0, 0, 0, 0.2);
    border-bottom: 7px solid rgba(0, 0, 0, 0.2);
    border-left: 7px solid rgba(0, 0, 0, 0);
    border-right: 7px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    left: 9px;
    position: absolute;
    top: -7px;
}

.dropdown-menu.dropdown-menu-right.dropdown-caret:after, .dropdown-menu.dropdown-caret-right.dropdown-caret:after {
    left: auto;
    right: 10px;
}
.dropdown-menu:before, li > .dropdown-menu:after {
    display: none;
}
.dropdown-menu.dropdown-caret:after {
    -moz-border-bottom-colors: rgb(255, 255, 255);
    border-bottom: 6px solid rgb(255, 255, 255);
    border-left: 6px solid rgba(0, 0, 0, 0);
    border-right: 6px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    left: 10px;
    position: absolute;
    top: -6px;
}

.dropdown-menu.dropdown-close.dropdown-menu-right {
    left: auto;
    right: -5px;
}

th{
    white-space: nowrap;
}

#lineChart {
    height: 220px;
    margin-left: 60px;
    margin-right: 70px;
}